@{
    ViewBag.Title = "Place bet for following category";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

<h3>The answer is wrong</h3>

<div class="buttons">
			@Html.ActionLink("Next Question", "DisplayCategory", "Game")
</div>