@{
    ViewBag.Title = "Place bet for following category";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

<div class="top_half">
    @Html.Partial("betSystem");
    <div class="callout">
                <div class="heading">
			        <h2>
				        Result
			        </h2>
		        </div>
		        <div class="main_text">
			        <h2 class="question_category">Correct Answer</h2>
		        </div>
         </div>
</div>
<div class="bottom_half">
    <div class="buttons">
			<button class="button_style">
                @Html.ActionLink("Next Question", "DisplayCategory", "Game")
			</button>
		</div>
</div>

 @section scripts
        {
            <script type="text/javascript" src="~/Scripts/QuizApp/gameClientLogic.js">
            </script>
        }
