 <div id="betSection" class="gameInfoBanner">
        <img class="icon" src="~/Content/GameImages/Spade-Chip.png" />
        <h3 class="gameInfoText">
            $<span id="betamt" data-bind="text: BetAmt"></span>
        </h3>
 </div>