@model Quiz.Models.QuestionDTO

@{
    ViewBag.Title = "Place bet for following category";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>@Html.DisplayFor(model => model.Category.Name)</h3>
<p>Place Bet:</p>

@Html.HiddenFor(model => model.QuestionId)
<input type="button" id="10" value="10" onclick="addBet(10)"/>
<input type="button" id="25" value="25" onclick="addBet(25)"/>
<input type="button" id="50" value="50" onclick="addBet(50)"/>
<input type="button" id="100" value="100" onclick="addBet(100)"/>

@section scripts
{
<script type="text/javascript" src="~/Scripts/QuizApp/gameClientLogic.js">
</script>
}