<div id="timerSection" class="gameInfoBanner">
    <img class="icon" src="~/Content/GameImages/Timer.png" />
    <h3 class="gameInfoText">
    <span id="time" data-bind="text: TimeLeft"></span>:<span id="timeSec" data-bind="text: secondsLeft"></span>
    </h3>    
</div>