@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
            <p>
                Redd Scientific presents an advanced game-based learning tool for learning human physiology.<br />
                If you are an administrator, you can manage the questions and categories from here.  
            </p>
        </div>
    </section>
}
