
  body {
        background: url("../Images/GameImages/Casino Table.png") no-repeat;
        background-size:cover;
        overflow:hidden;
        text-transform:uppercase;
    }

footer {
        background: url("../Images/GameImages/Casino Table Border.png") no-repeat;
        background-size:100%;
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        height:250px;   /* Height of the footer */
        z-index:-1000;
}

.callout {
    background: url("../Images/GameImages/Call-out Box.png") no-repeat;
    width: 684px;
    height: 232px;
    font-family: Georgia, serif;  
    color:#ffd800;
    margin: 50px auto;
}

.heading {
    text-align: center;
    height: 60px;         
    line-height: 60px;
}

.top_half {
    overflow: hidden;
    width:100%;
    height:300px;
}

.bottom_half {
    float: left;
    width:100%;
    height:375px;
}

.rules {
    word-wrap: break-word;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color:#ffd800;
    text-transform: none;
    height: 160px;
	width: 684px;
    display: table-cell;
    vertical-align:middle;
    margin: 0;
    padding: 0 30px;
}

.main_text {
    word-wrap: break-word;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color:#ffd800;
    text-transform: none;
    height: 160px;
	width: 684px;
    display: table-cell;
    vertical-align:middle;
    margin: 0;
    padding: 0 30px;
	text-align: center;
}

.buttons {
	margin: 0px auto 0px auto; 
	text-align: center;
}

.button_style {
    width:100px;
    height:50px;
    margin: 0 auto;
}

.question_category {
    font-family: Georgia, serif;
    color:#ffd800;
    font-size:15px;
    margin-left:175px;
}

.instruction {
    font-size:30px;
    font-family:'Adobe Gothic Std';
    margin-left:550px;
    margin-top:450px;
}

/*Place bet*/
.chipsDiv
{
	width: 100%;
	/*height: 10px;*/
	margin-left:20px;
	margin-top:10px;
	position: relative;
	float:left;
}

.chip
{
	margin-left:0px;
}



.stretch {
    margin: auto;
    height:100%;
	width:100%;
}
.chipstretch{
margin: auto;
height:100%;
width:40%;
}

.chips
{
	/*border:2px solid red;*/
	border-radius:25px;
	width: 20%;
	height: 100px;
	margin-left:20px;
	margin-top:0px;
	float:left;
	/*box-shadow: 10px 10px 5px #888888;*/
}


/*Question and answer*/
.answer
{
    background: url("../Images/GameImages/Card Front.png") no-repeat;
	width: 20%;
	height: 100%;
	margin-left:20px;
	margin-top:0px;
	float:left;
}

.ans
{
	position:relative;
    padding-right:25%;
    padding-top:35%;
    padding-left:15%;
	text-align:center;
    font-family: 'Segoe UI';
    font-size:30px;
}


.first
{
	margin-left:150px;
}

.footerText {
    margin-top:50px;
    margin-left:43%;
}